.venv/
**/__pycache__/
**/.pytest_cache
*.sw*
*.pyc
.env
.env.leave
**/.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
__pycache__/serial_com_helper.cpython-39.pyc
save_temp_to_file.py
arduino-serial-com-plotter.spec
__pycache__/serial_com_helper.cpython-39.pyc
